<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WXdemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WxTextDemo</display-name>
    <servlet-name>WxTextDemo</servlet-name>
    <servlet-class>com.wx.servlet.WxTextDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxTextDemo</servlet-name>
    <url-pattern>/wxTextDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindIndexGreensServlet</display-name>
    <servlet-name>FindIndexGreensServlet</servlet-name>
    <servlet-class>com.wx.web.FindIndexGreensServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindIndexGreensServlet</servlet-name>
    <url-pattern>/findIndexGreens</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindChuanCaiServlet</display-name>
    <servlet-name>FindChuanCaiServlet</servlet-name>
    <servlet-class>com.wx.web.FindChuanCaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindChuanCaiServlet</servlet-name>
    <url-pattern>/findChuanCai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindYueCaiServlet</display-name>
    <servlet-name>FindYueCaiServlet</servlet-name>
    <servlet-class>com.wx.web.FindYueCaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindYueCaiServlet</servlet-name>
    <url-pattern>/findYueCai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindSuCaiServlet</display-name>
    <servlet-name>FindSuCaiServlet</servlet-name>
    <servlet-class>com.wx.web.FindSuCaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindSuCaiServlet</servlet-name>
    <url-pattern>/findSuCai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindLuCaiServlet</display-name>
    <servlet-name>FindLuCaiServlet</servlet-name>
    <servlet-class>com.wx.web.FindLuCaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindLuCaiServlet</servlet-name>
    <url-pattern>/findLuCai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindDessertServlet</display-name>
    <servlet-name>FindDessertServlet</servlet-name>
    <servlet-class>com.wx.web.FindDessertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindDessertServlet</servlet-name>
    <url-pattern>/findDessert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrderCodeServlet</display-name>
    <servlet-name>GetOrderCodeServlet</servlet-name>
    <servlet-class>com.wx.web.GetOrderCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrderCodeServlet</servlet-name>
    <url-pattern>/getOrderCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUserinfoServlet</display-name>
    <servlet-name>SaveUserinfoServlet</servlet-name>
    <servlet-class>com.wx.web.SaveUserinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserinfoServlet</servlet-name>
    <url-pattern>/saveUserinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.wx.web.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/addOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrderDetailServlet</display-name>
    <servlet-name>GetOrderDetailServlet</servlet-name>
    <servlet-class>com.wx.web.GetOrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrderDetailServlet</servlet-name>
    <url-pattern>/getOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelOrderServlet</display-name>
    <servlet-name>DelOrderServlet</servlet-name>
    <servlet-class>com.wx.web.DelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelOrderServlet</servlet-name>
    <url-pattern>/delOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductCountServlet</display-name>
    <servlet-name>AddProductCountServlet</servlet-name>
    <servlet-class>com.wx.web.AddProductCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductCountServlet</servlet-name>
    <url-pattern>/addProductCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubProductCountServlet</display-name>
    <servlet-name>SubProductCountServlet</servlet-name>
    <servlet-class>com.wx.web.SubProductCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubProductCountServlet</servlet-name>
    <url-pattern>/subProductCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelProductCountServlet</display-name>
    <servlet-name>DelProductCountServlet</servlet-name>
    <servlet-class>com.wx.web.DelProductCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProductCountServlet</servlet-name>
    <url-pattern>/delProductCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindDelProductServlet</display-name>
    <servlet-name>FindDelProductServlet</servlet-name>
    <servlet-class>com.wx.web.FindDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindDelProductServlet</servlet-name>
    <url-pattern>/findDelProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayOrderServlet</display-name>
    <servlet-name>PayOrderServlet</servlet-name>
    <servlet-class>com.wx.web.PayOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayOrderServlet</servlet-name>
    <url-pattern>/payOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserOrderServlet</display-name>
    <servlet-name>FindUserOrderServlet</servlet-name>
    <servlet-class>com.wx.web.FindUserOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserOrderServlet</servlet-name>
    <url-pattern>/findUserOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserNoPayOrderServlet</display-name>
    <servlet-name>FindUserNoPayOrderServlet</servlet-name>
    <servlet-class>com.wx.web.FindUserNoPayOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserNoPayOrderServlet</servlet-name>
    <url-pattern>/findUserNoPayOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelPayOrderByOrderNumberServlet</display-name>
    <servlet-name>DelPayOrderByOrderNumberServlet</servlet-name>
    <servlet-class>com.wx.web.DelPayOrderByOrderNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelPayOrderByOrderNumberServlet</servlet-name>
    <url-pattern>/delPayOrderByOrderNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelNoPayOrderByOrderNumbersServlet</display-name>
    <servlet-name>DelNoPayOrderByOrderNumbersServlet</servlet-name>
    <servlet-class>com.wx.web.DelNoPayOrderByOrderNumbersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelNoPayOrderByOrderNumbersServlet</servlet-name>
    <url-pattern>/delNoPayOrderByOrderNumbers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAddressServlet</display-name>
    <servlet-name>AddAddressServlet</servlet-name>
    <servlet-class>com.wx.web.AddAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddressServlet</servlet-name>
    <url-pattern>/addAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindDetailAddressServlet</display-name>
    <servlet-name>FindDetailAddressServlet</servlet-name>
    <servlet-class>com.wx.web.FindDetailAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindDetailAddressServlet</servlet-name>
    <url-pattern>/findDetailAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelThisAddressServlet</display-name>
    <servlet-name>DelThisAddressServlet</servlet-name>
    <servlet-class>com.wx.web.DelThisAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelThisAddressServlet</servlet-name>
    <url-pattern>/delThisAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestDemo</display-name>
    <servlet-name>TestDemo</servlet-name>
    <servlet-class>com.wx.web.TestDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDemo</servlet-name>
    <url-pattern>/TestDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCommentsServlet</display-name>
    <servlet-name>GetCommentsServlet</servlet-name>
    <servlet-class>com.wx.web.GetCommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCommentsServlet</servlet-name>
    <url-pattern>/getComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendCommentServlet</display-name>
    <servlet-name>SendCommentServlet</servlet-name>
    <servlet-class>com.wx.web.SendCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCommentServlet</servlet-name>
    <url-pattern>/sendComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GaveLikesServlet</display-name>
    <servlet-name>GaveLikesServlet</servlet-name>
    <servlet-class>com.wx.web.GaveLikesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GaveLikesServlet</servlet-name>
    <url-pattern>/gaveLikes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancleLikesServlet</display-name>
    <servlet-name>CancleLikesServlet</servlet-name>
    <servlet-class>com.wx.web.CancleLikesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancleLikesServlet</servlet-name>
    <url-pattern>/cancleLikes</url-pattern>
  </servlet-mapping>
</web-app>